.elements{
    width: 100%;
    height:100vh;
    background: url("../../img/planet3.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;



}

.elementsTitle{
    width: 100%;
    background:#EEE9DA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color:#60a3bc;
}

.img{
    visibility: hidden;
  
    
}

.elementsImg{
    opacity: 0.8;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 30%;
}



.fireButton{
    display: inline;
    float: left;
    background-color:#60a3bc;
    width: 15%;
    margin: 120px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Pacifico", sans-serif;
    color: aliceblue;


}

.fireButton:hover{
    background-color: #FD8A8A;
    color: black;
}

.airButton{
   display: inline;
   float: right;
   background-color:#60a3bc;
   width: 15%;
   margin: 120px;
   padding: 10px;
   border-radius: 10px;
   font-family: "Pacifico", sans-serif;
   color: aliceblue;

}

.airButton:hover{
    background-color: #AEE2FF;
    color: black;
}

.waterButton{
   display: inline;
   float: left;
   background-color:#60a3bc;
   width: 15%;
   margin: 120px;
   padding: 10px;
   border-radius: 10px;
   font-family: "Pacifico", sans-serif;
   color: aliceblue;


}

.waterButton:hover{
    background-color: #B5F1CC;
    color: black;
}

.earthButton{
   display: inline;
   float: right;
   background-color:#60a3bc;
   width: 15%;
   margin: 120px;
   padding: 10px;
   border-radius: 10px;
   font-family: "Pacifico", sans-serif;
   color: aliceblue;

}

.earthButton:hover{
    background-color: #FDFDBD;
    color: black;
}

.osdButtons {
display:flex;
  text-align:center;
  justify-content: center;
  margin-top: -550px;
  position: absolute;
  font-family: "Pacifico", sans-serif;
 
  
}

.oncuButton {
    background-color:#60a3bc;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    color: aliceblue;

}

.oncuButton:hover{
    background-color: #D9ACF5;
    color: black;
}

.sabitButton {
    background-color:#60a3bc;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    color: aliceblue;
    margin-bottom: 50px;

}

.sabitButton:hover{
    background-color: #FEBE8C;
    color: black;
}

.degiskenButton {
    background-color:#60a3bc;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    margin-bottom: 50px;


}

.degiskenButton:hover{
    background-color: #FFCEFE;
    color: black;
}

.elementsCenterImg{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 25%;
}