.housesbottom{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;

}

@media screen and (max-width: 782px){
    .housesbottom{
        font-size: 0.2em;
        padding-top: 15%;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 6ada8914a6c4e95b18dcf98ad979f1498fca9462
